@using MyProject12.Controllers;
@using MyProject12.ViewModels;
@model PasswordChangeViewModel

<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @if (TempData.ContainsKey("SuccessMessagePassword"))
            {
                    <div class="col-sm-12 text-center">
                    <h2 class="text-success text-center m-2">@TempData["SuccessMessagePassword"]</h2>
                    </div>
            }
            else
            {
                @using (Html.BeginUmbracoForm<AccountController>("HandlePasswordChange"))
                {
                    <div class="modal-header">
                        <div class="col-sm-12 text-center">
                            <button type="button" class="close" data-dismiss="modal" aria-label="סגור"><i class="material-icons" aria-hidden="true" lang="en" translate="no">clear</i></button>
                            <h4 class="modal-title text-primary">שינוי סיסמה</h4>
                        </div>
                    </div>
                    <div class="modal-body mx-4">
                        <div class="form-group  bmd-form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons" aria-hidden="true" lang="en" translate="no">password</i>
                                    </span>
                                </div>
                                <label asp-for="CurrentPassword" class="bmd-label-floating login-field">סיסמה נוכחית</label>
                                <input asp-for="CurrentPassword" type="password" autocomplete="current-password" class="form-control" aria-describedby="PasswordChange_CurrentPassword-error" aria-invalid="false" />
                                <span asp-validation-for="CurrentPassword" id="PasswordChange_CurrentPassword-error" class="login-error" role="alert" aria-live="polite"></span>
                            </div>
                        </div>
                        <div class="form-group  bmd-form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons" aria-hidden="true" lang="en" translate="no">password</i>
                                    </span>
                                </div>
                                <label asp-for="NewPassword" class="bmd-label-floating login-field">סיסמה חדשה</label>
                                <input asp-for="NewPassword" type="password" autocomplete="new-password" class="form-control" aria-describedby="PasswordChange_NewPassword-error" aria-invalid="false" />
                                <span asp-validation-for="NewPassword" id="PasswordChange_NewPassword-error" class="login-error" role="alert" aria-live="polite"></span>
                            </div>
                        </div>
                        <div class="form-group  bmd-form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons" aria-hidden="true" lang="en" translate="no">password</i>
                                    </span>
                                </div>
                                <label asp-for="ConfirmNewPassword" class="bmd-label-floating login-field">אימות סיסמה חדשה</label>
                                <input asp-for="ConfirmNewPassword" type="password" autocomplete="new-password" class="form-control" aria-describedby="PasswordChange_ConfirmNewPassword-error" aria-invalid="false" />
                                <span asp-validation-for="ConfirmNewPassword" id="PasswordChange_ConfirmNewPassword-error" class="login-error" role="alert" aria-live="polite"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @if (ViewData.ModelState.ContainsKey("PasswordChange"))
                        {
                            <div class="form-group bmd-form-group">
                                <div style="text-align:center">
                                    @foreach (var error in ViewData.ModelState["PasswordChange"].Errors)
                                    {
                                        <div class="text-danger mb-2">@error.ErrorMessage </div>
                                    }
                                </div>
                            </div>
                        }
                        <button type="submit" class="btn btn-primary btn-link btn-wd btn-lg">עדכון</button>
                    </div>
                }
            }
        </div>
    </div>
</div>
