@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">
    <h2 class="text-primary text-center"><strong>חגים ומועדים</strong></h2>
    <div class="row">
        <div class="col-md-3 col-6 p-2 m-0">

            <div class="rotating-card-container m-0">
                <div class="card card-rotate m-0">
                    <div class="front">
                        <div class="card-body card-header-image">
                            <h4 class=" text-center" style="color:black"><strong>ראש השנה</strong></h4>

                            <img style="width:100%;height:100%;mix-blend-mode: multiply;" class="img" src="/holidays/אייקון ראש השנה.jpg" alt="" />
                        </div>
                    </div>
                    <div class="back text-center">
                        <div class="card-body">
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">מאמרים</button>
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">שיעורים</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6 p-2 m-0">

            <div class="rotating-card-container m-0">
                <div class="card card-rotate m-0">

                    <div class="front">
                        <div class="card-body card-header-image">
                            <h4 class=" text-center" style="color:black"><strong>יום כיפור</strong></h4>

                            <img style="width:100%;height:100%;mix-blend-mode: multiply;" class="img" src="/holidays/אייקון יום הכיפורים.jpg" alt="" />
                        </div>
                    </div>
                    <div class="back text-center">
                        <div class="card-body">
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">מאמרים</button>
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">שיעורים</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        <div class="col-md-3 col-6 p-2 m-0">

            <div class="rotating-card-container m-0">

                <div class="card card-rotate m-0">

                    <div class="front">
                        <div class="card-body card-header-image">
                            <h4 class=" text-center" style="color:black"><strong>סוכות</strong></h4>

                            <img style="width:100%;height:100%;mix-blend-mode: multiply;" class="img" src="/holidays/אייקון סוכות.jpg" alt="" />
                        </div>
                    </div>
                    <div class="back text-center">
                        <div class="card-body">
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">מאמרים</button>
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">שיעורים</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        <div class="col-md-3 col-6 p-2 m-0">

            <div class="rotating-card-container m-0">

                <div class="card card-rotate m-0">

                    <div class="front">
                        <div class="card-body card-header-image">
                            <h4 class=" text-center" style="color:black"><strong>חנוכה</strong></h4>

                            <img style="width:100%;height:100%;mix-blend-mode: multiply;" class="img" src="/holidays/אייקון חנוכה.jpg" alt="" />
                        </div>
                    </div>
                    <div class="back text-center">
                        <div class="card-body">
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">מאמרים</button>
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">שיעורים</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    <div class="row">
        <div class="col-md-3 col-6 p-2 m-0">

            <div class="rotating-card-container m-0">
                <div class="card card-rotate m-0">

                    <div class="front">
                        <div class="card-body card-header-image">
                            <h4 class=" text-center" style="color:black"><strong>טו בשבט</strong></h4>

                            <img style="width:100%;height:100%;mix-blend-mode: multiply;" class="img" src="/holidays/אייקון טו בשבט.jpg" alt="" />
                        </div>
                    </div>
                    <div class="back text-center">
                        <div class="card-body">
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">מאמרים</button>
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">שיעורים</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        <div class="col-md-3 col-6 p-2 m-0">

            <div class="rotating-card-container m-0">
                <div class="card card-rotate m-0">

                    <div class="front">
                        <div class="card-body card-header-image">
                            <h4 class=" text-center" style="color:black"><strong>פורים</strong></h4>

                            <img style="width:100%;height:100%;mix-blend-mode: multiply;" class="img" src="/holidays/אייקון פורים.jpg" alt="" />
                        </div>
                    </div>
                    <div class="back text-center">
                        <div class="card-body">
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">מאמרים</button>
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">שיעורים</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        <div class="col-md-3 col-6 p-2 m-0">

            <div class="rotating-card-container m-0">
                <div class="card card-rotate m-0">

                    <div class="front">
                        <div class="card-body card-header-image">
                            <h4 class=" text-center" style="color:black"><strong>פסח</strong></h4>

                            <img style="width:100%;height:100%;mix-blend-mode: multiply;" class="img" src="/holidays/אייקון פסח.jpg" alt="" />
                        </div>
                    </div>
                    <div class="back text-center">
                        <div class="card-body">
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">מאמרים</button>
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">שיעורים</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        <div class="col-md-3 col-6 p-2 m-0">

            <div class="rotating-card-container m-0">
                <div class="card card-rotate m-0">

                    <div class="front">
                        <div class="card-body card-header-image">
                            <h4 class=" text-center" style="color:black"><strong>ספירת העומר</strong></h4>

                            <img style="width:100%;height:100%;mix-blend-mode: multiply;" class="img" src="/holidays/אייקון ספירת העומר.jpg" alt="" />
                        </div>
                    </div>
                    <div class="back text-center">
                        <div class="card-body">
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">מאמרים</button>
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">שיעורים</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    <div class="row">
        <div class="col-md-3 col-6 p-2 m-0">

            <div class="rotating-card-container m-0">
                <div class="card card-rotate m-0">

                    <div class="front">
                        <div class="card-body card-header-image">
                            <h4 class=" text-center" style="color:black"><strong>שבועות</strong></h4>

                            <img style="width:100%;height:100%;mix-blend-mode: multiply;" class="img" src="/holidays/אייקון שבועות.jpg" alt="" />
                        </div>
                    </div>
                    <div class="back text-center">
                        <div class="card-body">
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">מאמרים</button>
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">שיעורים</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        <div class="col-md-3 col-6 p-2 m-0">

            <div class="rotating-card-container m-0">
                <div class="card card-rotate m-0">

                    <div class="front">
                        <div class="card-body card-header-image">
                            <h4 class=" text-center" style="color:black"><strong>תשעה באב</strong></h4>

                            <img style="width:100%;height:100%;mix-blend-mode: multiply;" class="img" src="/holidays/אייקון תשעה באב.jpg" alt="" />
                        </div>
                    </div>
                    <div class="back text-center">
                        <div class="card-body">
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">מאמרים</button>
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">שיעורים</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        <div class="col-md-3 col-6 p-2 m-0">

            <div class="rotating-card-container m-0">
                <div class="card card-rotate m-0">

                    <div class="front">
                        <div class="card-body card-header-image">
                            <h4 class=" text-center" style="color:black"><strong>טו באב</strong></h4>

                            <img style="width:100%;height:100%;mix-blend-mode: multiply;" class="img" src="/holidays/אייקון טו באב.jpg" alt="" />
                        </div>
                    </div>
                    <div class="back text-center">
                        <div class="card-body">
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">מאמרים</button>
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">שיעורים</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        <div class="col-md-3 col-6 p-2 m-0">

            <div class="rotating-card-container m-0">
                <div class="card card-rotate m-0">

                    <div class="front">
                        <div class="card-body card-header-image">
                            <h4 class=" text-center" style="color:black"><strong>חודש אלול</strong></h4>

                            <img style="width:100%;height:100%;mix-blend-mode: multiply;" class="img" src="/holidays/אלול.jpg" alt="" />
                        </div>
                    </div>
                    <div class="back text-center">
                        <div class="card-body">
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">מאמרים</button>
                            <button class="btn btn-primary mx-lg-5 mx-3 mx-3 my-3">שיעורים</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
