@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <div class="card">
        <a href="your-link.html" class="card-link">

            <div class=" home-card-header">
                <div class="text-center">
                    <img style="height:200px" class="home-card-image" src="/media/zirlur11/whatsapp-image-2022-08-06-at-22-35-11.jpeg" alt="קבלה למתחיל">
                </div>
            </div>
        </a>
        <div class="card-body" style="height:200px;">

            <a href="your-link.html" class="card-link">

                <h4 class="card-title">
                    קבלה למתחיל
                </h4>
                <h6 class="home-card-secondary-title">
                    כותרת משנה
                </h6>
                <p class="card-description" style="overflow-y: hidden; height:70px;">

                    כי בבוקר יום א'
                    הזברה קמה
                    פשטה את הפיג'מה
                    לבשה מן הסתם
                    מכנסיים וחולצה
                    אך מיד היא הרגישה
                    שאין היא מרוצה
                    מיהרה ולבשה פיג'מה
                    פיג'מהמה פיג'ממה פיג'ה פיג'ה פיג'הממה
                    כי בבוקר יום א'
                    הזברה קמה
                    פשטה את הפיג'מה
                    כי בבוקר יום א'
                    הזברה קמה
                    פשטה את הפיג'מה
                    כי בבוקר יום א'
                    הזברה קמה
                    פשטה את הפיג'מה
                    כי בבוקר יום א'
                    הזברה קמה
                    פשטה את הפיג'מה
                </p>

                <hr style="margin-top:0.9rem; margin-bottom:0.6rem; margin-left:-1.875rem; margin-right:-1.875rem;" />
            </a>

            @* <div class="text-center" >
        <h6 class="my-0">חדש!</h6>
        </div>*@
            <div style="padding-right:1.7rem; margin-top:-0.6rem; margin-left:-1.875rem; margin-right:-1.875rem;">
                <button class="m-0 p-2 btn btn-primary btn-link" style="height:38px;"><strong>למאמרים</strong></button>
                <button class="m-0 p-2 btn btn-primary btn-link" style="height:38px;"><strong>לשיעורים</strong></button>

            </div>
        </div>
    </div>

}
