<div class="col-md-4 newsletter-column">
    <h2 class="h5">הרשמה לניוזלטר</h2>
    <p class="newsletter-copy">לקבלת מאמרים, הרצאות וקורסים חדשים מהמגזין השבועי של משה שרון.</p>

    <form class="newsletter-form"
          action="https://ravxx-subscriber-v1.ravpage.co.il/"
          method="post"
          aria-label="טופס הרשמה לניוזלטר">
        <label class="newsletter-email-label" for="newsletterEmail">כתובת אימייל</label>
        <div class="newsletter-form-row">
            <input id="newsletterEmail"
                   name="fields[subscribers_email]"
                   type="email"
                   class="form-control"
                   autocomplete="email"
                   placeholder="כתובת האימייל שלך..."
                   aria-describedby="newsletterHelp"
                   required>
            <button type="submit" class="btn btn-primary btn-sm newsletter-submit">להרשמה</button>
        </div>
        <span id="newsletterHelp" class="sr-only">ההרשמה מתבצעת דרך מערכת RavPage.</span>

        <input type="hidden" name="__ravxx_url__" value="http://form.ravpage.co.il/2ae29537c45e5642924d43bb22570a41657EC158">
        <input type="hidden" name="__ravxx_source_info__" value="{&quot;public_id&quot;:&quot;2ae29537c45e5642924d43bb22570a41657EC158&quot;,&quot;normalized_url&quot;:&quot;http:\/\/form.ravpage.co.il\/2ae29537c45e5642924d43bb22570a41657EC158&quot;,&quot;url&quot;:&quot;http:\/\/form.ravpage.co.il\/2ae29537c45e5642924d43bb22570a41657EC158&quot;,&quot;group&quot;:&quot;24a1340d478621780bb8e4b0cad022dc&quot;}">
        <input type="hidden" name="form_id" value="2479489">
        <input type="hidden" name="encoding" value="utf-8">
    </form>
</div>
