@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NotFound>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}



<!doctype html>
<html lang="he">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>404 העמוד לא נמצא</title>



    <link href="https://fonts.googleapis.com/css?family=Heebo:400,500,700|Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/material-kit.css?v=2.0.6">
    <link rel="stylesheet" href="/css/mdi.css">
    <link rel="stylesheet" href="/css/vertical-nav.css">
    <link rel="stylesheet" href="/css/accessibility.css">




    <script src="/js/core/jquery.min.js"></script>
    <script src="/js/core/popper.min.js"></script>
    <script src="/js/core/bootstrap-material-design.min.js"></script>
    <script src="/js/plugins/moment.min.js"></script>
    <script src="/js/plugins/bootstrap-datetimepicker.js"></script>
    <script src="/js/plugins/nouislider.min.js"></script>
    <script src="/js/material-kit.js?v=2.0.6"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/js/accessibility.js"></script>


</head>

<body class="index-page sidebar-collapse" dir="rtl">
    <a href="#main-content" class="skip-link">דלג לתוכן הראשי</a>
    <main id="main-content" tabindex="-1">
    <div  style="height:100vh;">
        <div class="text-center" style="position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);width:100vw">
            <div class="mx-4">
            <h2 class=" mt-5 text-primary mx-2"> משה שרון </h2>

            <h1 class="text-primary mx-2 mt-5"> <strong>404</strong>  </h1>

        <h2 class=" mt-5 text-primary mx-2"> העמוד המבוקש לא נמצא </h2>

        <a class=" mt-5 btn btn-primary mx-2" href="/"> חזרה לדף הבית </a>
            </div>
    </div>
    </div>
    </main>
</body>



</html>
